# unconventional js
/blueprints/*/files/

# compiled output
/declarations/
/dist/

# misc
/coverage/
!.*
.*/

# ember-try
/.node_modules.ember-try/
/package.json.ember-try
ember-try.js
ember-cli-build.js

# generated output
/active-model-adapter.d.ts
/active-model-serializer.d.ts
